.backgroundImgServices{
    position: absolute;
    z-index: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.backgroundImgServices img{
    height: 100%;
    width: 100%;
}

.servicePageContent{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100svh;
}


#bottomBigLink{
    font-family: Helvetica, sans-serif;
    font-size: 8svh;
    text-align: left;
    text-decoration: none;
    font-weight: 900;
}

@media screen and (max-width: 1000px) {
    #bottomBigLink{
        font-size: 6svh;
   
    }
}

#bottomBigLink:hover{
    color: #100F55;
    cursor: pointer;
}

.bottomBigLink{
    width: 90dvw;
    padding-bottom: 50px;
    cursor: pointer;
}