@media screen and (max-width: 600px) {
    .partnerBox{
        width: 60dvw !important;
        height: 60dvw !important;
        margin-right: 0 !important;
    }

    .logoPartner{
        max-width: 60dvw !important;
    }
}

.partnerBox{
    width: 30dvw;
    height: 30dvw;
    flex: 0 0 auto; 
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partnerTop{
    margin: 20px;
}

.logoPartner{
    max-width: 30dvw;
    z-index: 1;
    cursor: pointer;
}

.logoPartner:hover{
    opacity: 0;
    animation: fadeOut .5s ease-out;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.partnerName{
    position: absolute;
    z-index: 0;
}

.outrBorder {
    border: 10px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
  }
  
  .innrBorder {
    flex: 1;
    border: 5px solid white;
    border-radius: 30px;
    margin: -9px;
  }