@media screen and (max-width: 600px) {
    .partnerBox{
        width: 60dvw !important;
        height: 60dvw !important;
        margin-bottom: 20px;
        margin-right: 0 !important;
    }
}

.partnerBox{
    width: 30dvw;
    height: 30dvw;
    background-color: #181818;
    margin-right: 20px;
    flex: 0 0 auto; 
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoPartner{
    max-height: 200px;
    background-color: #181818;
}