.priceForm{
    display: flex;
    flex-direction: column;
}

.priceForm input{
    margin-bottom: 10px;
    width: 50svw;
    height: 10svh;
    color: black;
    font-size: 5svh;
}

.priceForm select{
    width: 50.5svw;
    height: 10svh;
    color: black;
    font-size: 5svh;
}

#priceSubmit{
    margin-bottom: 150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}