@media screen and (max-width: 600px) {
    ul{
        display: none !important;
    }
}

.topBarFlex{
    display: flex;
    width: 99.2dvw;
    align-items: center;
    padding-top: 10px;
    z-index: 2;
    justify-content: center;
    position: absolute;
}

.aliasStudios{
    max-height: 80px;
    padding-left: 10px;
}

li{
    list-style-type: none;
    margin: 0;
    font-weight: 500 !important;
    cursor: pointer;
    font-family: helveticaBOLD, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12dvw;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

ul a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}