@media screen and (max-width: 1000px) {
    .topBarLink{
        display: none !important;
    }

    .aliasStudios{
        display: none;
    }

    .aliasMobileContainer{
        display: flex !important;
        position: absolute;
        top: 20px;
        justify-content: center;
        align-items: center;
        left: 0;
        right: 0;
    }
    
    .aliasMobileContainer img{
        transform: scale(0.75);
    }

}

.aliasMobileContainer{
    display: none;
}

.topBarFlex{
    display: flex;
    width: 86%;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.aliasStudios{
    max-height: 80px;
}

li{
    list-style-type: none;
    margin: 0;
    font-weight: 500 !important;
    cursor: pointer;
    font-family: helveticaBOLD, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12dvw;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}

ul a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.topBarLink:hover{
    color: #0000FF ;
}
