@media screen and (max-width: 700px) {
    #about{
        text-align: center;
    }

    #about p{
        font-size: 18px !important;
    }

}

.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10dvh;
    padding-bottom: 20dvh;
}


#about h1{
    font-size: 10dvh;
    margin: 0;
}

#about h5{
    font-size: 4dvh;
    font-weight: 500 !important;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 30px;
}

#about hr{
    width: 80dvw;
    height: 5px;
    background-color: white;
    margin: 20px 0px;
}

#about ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    }

#about ul li{
    font-size: 4dvh;
    font-family: Helvetica, sans-serif;
    font-weight: 500 !important;

}

.serviceGridFlex{
    display: flex;
    justify-content: center;
}

.aboutFlex{
    display: flex;
    flex-direction: column;
}