@media screen and (max-width: 1000px) {
  .noscrollH1{
    font-size: 10dvw !important;
  }

  .titleH1{
    padding:  0 !important;
    height: 65dvh !important;

  }

  .bigGlobe{
    display: none;
  }

  .discoverHow{
    display: none !important;
  }

  .globeSmallMobile{
    max-height: 5dvh;
    padding: 2dvh 0;
  }

  .aboutMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .aboutMobile p{
    font-size: 1.25dvh;
  }

  .waypoint{
    padding-bottom: 6dvh !important;
  }
  
  .waypoint p{
    font-size: 1.5dvh !important;
  }
  
  .waypoint img{
    height: 2dvh !important;
  }

  .mediaH1{
    padding-right: 0 !important;
  }
  
  .designH1{
    padding-left: 0 !important;
  }
  
  .strategyH1{
    padding-right: 0 !important;
  }

  .mediaDesignStrategy h1{
    text-align: left !important;
    font-size: 10dvw !important;
    padding-bottom: 2dvh;
  }

  .servicesScroll{
    padding: 1dvh 0 6dvh 0 !important;
  }

  .servicesScroll img{
   max-width: 80dvw;
  }

  .wwdButtons a{
    padding: 1dvh 3.5dvw !important;
    font-size: 14px;
  }
}

@media screen and (min-width: 1001px) {

  .aboutMobile{
    display: none !important;
  }
}

#about{
  z-index: 1;
}



#about h1{
    font-size: 10dvh;
    margin: 0;
}


.serviceGridFlex{
    display: flex;
    justify-content: center;
}

.aboutFlex{
    display: flex;
    flex-direction: column;
}

.titleH1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15DVH 0 10dvh 0;
  height: 90dvh;

}

.bigGlobe{
  max-height: 40dvh;
  padding-bottom: 10dvh;
}

.waypoint{
  display: flex;
  align-items: center;
  padding-bottom: 10dvh;
}

.waypoint p{
  font-family: helveticaMID, Helvetica, sans-serif;
  font-size: 2.5dvh;
  margin: 10px 0 0 0;
}

.waypoint img{
  height: 4dvh;
  padding-right: 12px;
}

.mediaDesignStrategy h1{
  text-align: center;
  font-size: 6dvw ;
  padding-bottom: 2dvh;
}

.mediaH1{
  padding-right: 35dvw;
}

.designH1{
  padding-left: 30dvw;
}

.strategyH1{
  padding-right: 25dvw;
}

.servicesScroll{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10dvh 0;
}

.wwwButtons{
  display: flex;
  justify-content: space-around;

}

.wwdButtons a{
  border-radius: 25px;
  padding: 20px 25px 15px 25px;
 
  text-decoration: none;
  font-family: HelveticaMid, sans-serif;
  cursor: pointer;
}

.wwdHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10dvh;
}

.wwwPast{
  margin-right: 2dvw;
  border: 4px solid white;
  background-color: white !important;
  color: black;
}

.wwdFuture{
  margin-left: 2dvw;
  border: 4px solid white;
  background-color: #1E1E1E !important;
  color: white;
}


.discoverHow{
  background-color: #0000FF;
  padding: 20px 25px 15px 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: helveticaMID, Helvetica, sans-serif;
}

.noscrollH1 {
  margin: 0;
  font-size: 140px;
  font-family: helveticaMID, Helvetica, sans-serif;
  }
  

