@media screen and (max-width: 700px) {
    .gtk{
        text-align: center;
    }

    .gtkP{
        text-align: center;
    }
}

.gtk{
    font-size: 40px;
    font-weight: 400;
}

.gtkBlue{
    color: #0000FF;
}

.gtkP{
    font-size: 24px;
}

.getToKnowFlex{
    display: flex;
    flex-direction: column;
}