@media screen and (max-width: 1300px) {
    #welcome{
        display: flex !important;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #welcome h1{
        font-size: 4dvh !important;
    }

    .aliasALT{
        max-width: 250px !important;
        height: auto;
    }

    .altLogos{
        justify-content: space-between;
    }
}

#welcome{
    height: 35dvh;
    background-color: #0000FF;
    padding: 40px;
    border-radius: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

#welcome h1{
    background-color: #0000FF;
    font-size: 10dvh;
    font-family: TussilagoBold, Helvetica, sans-serif;
    line-height: 125%;
    animation: blurb 2s ease-in;
}

.welcomeFlex{
    display: flex;
    align-items: center;
    background-color: #0000FF;
}

.aliasALT{
    max-height: 150px;
    background-color: #0000FF;
}

.altLogos{
    background-color: #0000FF;
    display: flex;
    flex-direction: column;
    animation: blurb 2s ease-in;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}



@keyframes blurb{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}