@media screen and (max-width: 600px) {
    .beginningWelcomeText{
        font-size: 24px !important;
    }
    .endWelcomeText{
        font-size: 24px !important;
    }
}

#welcome{
    height: 60dvh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.beginningWelcomeText{
    color: #0000FF !important;
    animation: blurb 2s ease-in-out;
    font-size: 72px;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: HelveticaBOLD, Helvetica, sans-serif;
    text-align: center;
}

.endWelcomeText{
    animation: blurb 4s ease-in-out;
    font-size: 30px;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-family: Tussilago, Helvetica, sans-serif;
    text-align: center;
}


@keyframes blurb{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes arrow{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
.downArrow{
    max-height: 64px;
}

.arrowContainer{
    display: flex;
    justify-content: center;
    animation: arrow 3s ease-in-out;
    animation-iteration-count: 10;
    animation-delay: 4s;
    opacity: 0;
    animation-fill-mode: alternate;
    padding-top: 5dvh;
}

