.homeFlex{
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 0 3dvw;
}


#contact{
        padding-bottom: 20dvh;
}

.backgroundImg{
    position: absolute;
    z-index: 0;
    max-width: 99dvw;
}

.backgroundImg img{
    width: 99.2dvw;
    max-height: 100dvh;
    overflow: hidden;
}