@media screen and (max-width: 1000px) {
    .backgroundImg img{
        height: 100svh !important;
    }

    .backgroundImg{
        max-width: auto !important;
       }

}

.homeFlex{
    flex-direction: column;
    justify-content: center;
    padding: 0 2dvw;
}

.backgroundImg{
    position: absolute;
    z-index: 0;
    width: 100%;
}

.backgroundImg img{
    width: 100%;
    height: 100svh;
    overflow: hidden;
}

#home{
    display: flex;
    flex-direction: column;
}

.limitScroll{
    display: none 
}

.hRunner{
    width: 96dvw;
    margin: 7dvh 0 7dvh 0;
    background-color: white;
}