@media screen and (max-width: 1000px) {
    .backgroundImg img{
        height: 60dvh !important;
        width: auto !important;  
    }

    .backgroundImg{
        max-width: auto !important;
       }

}

.homeFlex{
    flex-direction: column;
    justify-content: center;
    background-color: #1E1E1E;
    padding: 0 7dvw;
}

.backgroundImg{
    position: absolute;
    z-index: 0;
    max-width: 99dvw;
}

.backgroundImg img{
    width: 99.2dvw;
    height: 100dvh;
    overflow: hidden;
}