@media screen and (max-width: 1000px) {
    .processAnimation{
        display: none !important;
    }

    .processContent{
        grid-template-columns: 1fr !important;
    }

    .elevateBrand{
        font-size: 10dvw !important;
        padding: 0 0 6lvh 0 !important;
    }

    .processImages img{
        max-width: 90dvw;
    }

    .processImages{
        padding: 4dvh 0 !important;
    }

    .ourProcess{
        padding-bottom: 5dvh;
    }
}

@media screen and (min-width: 1001px) {
    .ourProcess{
        padding-bottom: 20dvh;
    }
}

.processContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.elevateBrand, h3{
    margin: 0;
    font-size: 5dvw;
    font-family: helveticaMID, Helvetica, sans-serif !important;
}

.processAnimation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourProcess{
    display: flex;
    flex-direction: column;
}

.processImages img{
    max-height: 90dvh;
}


.react-multi-carousel-dot button{
    background-color: white;
    border: none !important;
}

.react-multi-carousel-dot--active button{
    background-color: #0000FF !important;
}

.react-multiple-carousel__arrow{
    background-color: #0000FF !important;
}