@media screen and (max-width: 1000px) {
    

    .serviceText h3{
        font-size: 20px;
    }

    .serviceText p{
        font-size: 12px;
    }

    .ourServicesGrid{
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr !important;
    }

    .serviceCube img{
        max-width: 80dvw !important;
    }
}

@media screen and (min-width: 1001px) {
    .serviceText{
        padding: 5dvh;
    }
}

.ourservices{
    display: flex;
    flex-direction: column;
}

.ourServicesGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.whyUs{
    margin: 0;
    font-size: 3dvw;
}

.serviceText{
    display: flex;
    flex-direction: column;
}

.serviceCube{
    display: flex;
    justify-content: center;
    align-items: center;
}

.whyUsp{
    font-family: Tussilago, Helvetica, sans-serif;
    font-size: 1dvw;
}

.serviceCube img{
    max-width: 35dvw;
}