@media screen and (max-width: 600px) {
    .ourPartners h2{
        display: none;
    }

    .mobilePartnerTitle{
        font-weight: 500;
        font-size: 40px;
        color: #0000FF;
        text-align: center;
    }

    .partnerItemContainer{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .partnerTopContainer{
        justify-content: center !important;
    }
}

.PartnerTitle{
        font-size: 14dvh;
        margin: 0;
        text-align: center;
        font-family: TussilagoBOLD, Helvetica, sans-serif;
}


.partnerItemContainer{
    display: flex;
    flex-direction: column;
}


.our{
    text-align: center;
    font-family: Tussilago, Helvetica, sans-serif;
}

@media screen and (min-width: 600px) {
    .partnerItemContainer{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }    

    .mobilePartnerTitle{
        display: none;
    }
}

.partnerTopContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20dvh;
    margin-top: 60px;
}