@media screen and (max-width: 600px) {
    .ourPartners h2{
        display: none;
    }

    .mobilePartnerTitle{
        font-weight: 500;
        font-size: 40px;
        color: #0000FF;
        text-align: center;
    }

    .partnerItemContainer{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .partnerTopContainer{
        justify-content: center !important;
    }
}

.ourPartners{
    display: flex;
    justify-content: center;
    margin: 0;
    writing-mode: vertical-rl;
}

.ourPartners h2{
    font-weight: 500;
    font-size: 40px;
    color: #0000FF;
    padding-left: 175px;
}  

.partnerItemContainer{
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.partnerItemContainer::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width: 600px) {
    .partnerItemContainer{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }    

    .mobilePartnerTitle{
        display: none;
    }
}

.partnerTopContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40dvh;
}