@media screen and (max-width: 700px) {
    .serviceGridContainer{
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        width: 260px !important;
    }

    .serviceGridItem{
        height: 125px !important;
        width: 125px !important;
    }

    .serviceGridItem img{
        max-height: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .servFlex h2{
        transform: rotate(0deg) !important;
    }

    .servFlex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.serviceGridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    width: 840px;
    z-index: 1;
}

.serviceGridItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    border-radius: 8px;
    cursor: pointer;
    height: 200px;
    width: 200px;
    color: #0000FF;
}


.serviceGridItem img{
    height: 55px;
    background-color: #282828;
}

.serviceGridItem h5{
    background-color: #282828;
    color: #0000FF;
    font-size: 16px;
}

.servFlex{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20dvh;
}

.servFlex h2{
    font-weight: 500;
    font-size: 40px;
    transform: rotate(-90deg);
    z-index: 0;
}   

