.active-scroll-spy {
    color: #0000FF !important;
}

html {
    scroll-padding-top: 90px; /* height of your navbar */
  }


  @font-face {
    font-family: helveticaBOLD;
    src: url('../fonts/Helvetica83.otf');
  }

  @font-face {
    font-family: Tussilago;
    src: url('../fonts/Tussilago.ttf');
  }

  @font-face {
    font-family: helveticaMID;
    src: url('../fonts/Helvetica63.otf');
  }